*{
    box-sizing: border-box;
}
span {
    width: 50px;
    height: 50px;
    margin: 40px auto;
    margin-top: 50vh;
    background-color: #ddd;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0px 0px -50px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
