*{
    box-sizing: border-box;
}
div {
    width: 200px;
    height: 200px;
    margin: 250px auto;
    position: relative;
    background-color: #607D8B;
    border-bottom:  5px solid black;

}
div::after {
    position: absolute;
    content: "";
    background-color: black;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    top: -50px;
    left: 80px;
    width: 68%;
    height: 71%;
    transform-origin: top center;
    transform: rotate(45deg);
}
div::before {
    content: "Elzero";
    color: white;
    position: absolute;
    left: 10px;
    bottom: 5px;

}